.button-icon {
  border: none;
  display: inline-flex;
  background: transparent;
  margin-right: 5px;
  width: 26px;
  height: 26px;
  padding: 3px;
  border-radius: 4px;
  vertical-align: middle;
  transition: background-color 0.2s ease-in-out;
}

.button-icon:last-child {
  margin-right: 0;
}

.button-icon:hover {
  background-color: #00000025;
}

.button-icon svg {
  width: 20px;
  height: 20px;
  transition: fill 0.2s;
}

.button-icon:hover svg,
.button-icon:focus-visible svg {
  fill: var(--button-icon-hover-fill);
}
