.file-input {
  display: inline-flex;
  border-radius: 4px;
  transition: box-shadow 0.15s ease-in-out;
}

.file-input:active {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.file-input input[type="file"] {
  display: none;
}

.file-input span {
  background-color: #fff;
  user-select: none;
  align-self: center;
  padding: 6px 10px;
  max-width: 150px;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ddd;
  border-right: none;
  cursor: pointer;
  border-radius: 4px 0px 0px 4px;
}

.file-input button {
  border-radius: 0px 4px 4px 0px;
  padding: 6px 10px;
}

.file-input button:active {
  box-shadow: none;
}
