/*
  Override bootstrap's defaults instead of fixing styles as
  I generally don't want to rewrite this legacy piece of shit.
*/
header,
header * {
  box-sizing: content-box;
}

header hr {
  margin: 0.5em 0;
}

body {
  padding-top: 50px;
}

header {
  display: flex;

  position: fixed;
  user-select: none;
  top: 0;
  left: 0;

  height: 30px;
  width: 100%;

  padding: 5px 15px;
  z-index: 10000;

  background-color: #232d6a;
  fill: #d1d1f0;
  color: #d1d1f0;
}

.page-header-logo {
  display: inline-flex;
  border: none;
  cursor: pointer;
  width: 73px;
  height: 24px;
  background: url(static/logo.png) center no-repeat;
  background-size: 73px 24px;
  padding: 3px;
  border-radius: 4px;
}

.page-header-clickable:hover {
  background-color: #d1d1f033;
}

.page-header-links {
  display: inline-flex;
  margin-left: 14px;
  margin-right: auto;
}

.page-header-link {
  font-weight: 600;
  font-size: 12px;
  height: 30px;
  padding: 0px 6px;
  margin: 0px 2px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: inherit;
  transition: background-color 0.1s, color 0.1s, fill 0.1s;
}

.page-header-icon {
  width: 11px;
  height: 11px;
  margin-left: 2px;
}

.page-header-icon-big {
  width: 16px;
  height: 16px;
  margin: -2px 0px;
  margin-left: 2px;
}

.page-hader-edit-wrap {
  margin-left: auto;
  margin-right: 5px;
}

.page-header-edit-but {
  padding: 0px 6px;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  vertical-align: middle;
  transition: background-color 0.1s, color 0.1s, fill 0.1s;
}

.page-header-edit-icon {
  width: 16px;
  height: 16px;
  padding: 3.5px 3.5px;
  margin: 3.5px 0px;
}

.page-header-avatar-wrap {
  margin-right: 30px;
  fill: #d1d1f0;
}

.page-header-avatar-but {
  background-color: transparent;
  padding: 0px 6px;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  vertical-align: middle;
  transition: background-color 0.1s, color 0.1s, fill 0.1s;
}

.page-header-avatar-icon {
  width: 23px;
  height: 23px;
  margin: 3.5px 0px;
}

.page-header-avatar-arrow {
  margin: 7px 0px 7px 5px;
}

.page-header-focused {
  background-color: white;
  fill: #232d6a;
  color: #232d6a;
}

.page-header-signin {
  background-color: #ebebfa;
  color: #232d6a;
  border: 1px solid #dbdbdb;
}

.page-header-signin:hover {
  background-color: white;
}

.page-tooltip {
  position: fixed;
  padding: 8px 1px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: black;
  width: auto;
  min-width: 240px;
  max-width: 500px;
  top: 44px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-tooltip-link {
  display: flex;
  padding: 0px 12px;
  border: none;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 24px);
  background-color: transparent;
  height: 32px;
  text-align: left;
  z-index: 950;
}

.page-tooltip-link:hover {
  background-color: #eee;
}

.page-header-pr-info {
  padding: 8px 12px;
}
