/*#login-container {
  margin-left: auto;
  max-width: 300px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  padding: 15px;
  border-radius: 10px;
}

#login-container input {
  padding: 4px 10px;
  width: calc(100% - 20px);
  min-height: 18px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

#login-container label {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  color: #303030;
  margin-bottom: 8px;
}

#button-login {
  width: 100%;
}

#page-title {
  font-size: 30px;
}
*/

#signin .form-floating:focus-within {
  z-index: 2;
}

#signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
