button.wrapper {
  display: inline-flex;
  border: none;
}

button.wrapper:focus-visible {
  outline: auto;
}

.button-red,
.button-green,
.button-blue,
.button-white {
  font-family: var(--modern-font-family);
  height: auto;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 10px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.button-left-float {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.button-center-float {
  border-radius: 0px;
}

.button-right-float {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.button-white {
  background-color: transparent;
  border-color: #dbdbdb;
  color: #303030;
}

.button-white:hover {
  background-color: #f0f0f0;
  border-color: #e3e3e3;
}

.button-white:active,
.button-white:focus-visible {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.button-green {
  background-color: #108548;
  border-color: #217645;
}

.button-green:hover {
  background-color: #217645;
  border-color: #24663b;
}

.button-green:active,
.button-green:focus-visible {
  box-shadow: 0 0 0 0.2rem rgba(52, 151, 99, 0.5);
  background-color: #0b572f;
  border-color: #094c29;
}

.button-red {
  background-color: #dd2b0e;
  box-shadow: inset 0 0 0 1px #c91c00;
  border-color: #c91c00;
}

.button-red:hover {
  box-shadow: inset 0 0 0 2px #8d1300, 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  background: #c91c00;
  border-color: #ae1800;
}

.button-red:active,
.button-red:focus-visible {
  box-shadow: inset 0 0 0 2px #660e00, 0 0 0 4px rgba(31, 117, 203, 0.25);
  background-color: #ae1800;
  border-color: #a11f0a;
}

.button-blue {
  background-color: #0062cc;
  border-color: #0062cc;
}

.button-blue:hover {
  background-color: #0054ad;
  border-color: #0b5cad;
}

.button-blue:active,
.button-blue:focus-visible {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.button-icon {
  margin-right: 5px;
  width: 26px;
  height: 26px;
  padding: 3px;
  border-radius: 4px;
  vertical-align: middle;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}

.button-icon:last-child {
  margin-right: 0;
}

.button-icon:hover {
  background-color: #00000025;
}

.button-icon svg {
  width: 20px;
  height: 20px;
  transition: fill 0.2s ease-in-out;
}

.button-icon:hover svg {
  fill: var(--button-icon-hover-fill);
}
