.flex-center {
  display: flex;
  justify-content: center;
}

/* Two column group 1:5 */
.group-15-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.group-15-left {
  flex: 0 0 16.667%;
  max-width: 16.667%;
}

.group-15-right {
  flex: 0 0 83.333%;
  max-width: 83.333%;
}

.group-15-label {
  font-weight: 600;
  text-align: right;
}

.group-15-wrap-border {
  margin-left: 15px;
  border-radius: 4px;
  width: calc(100% - 25px);
  border: 1px solid #ddd;
}

.group-15-wrap-no {
  margin-left: 15px;
  border-radius: 4px;
  width: calc(100% - 25px);
}

.group-15-not-first {
  margin-top: 0.6em;
}

.group-15-textarea-line {
  padding: 6px 10px;
  width: calc(100% - 20px);
  min-height: 18px;
  resize: vertical;
}
