.table {
  text-align: center;
}

.table thead {
  font-weight: 600;
}

.table td {
  white-space: nowrap;
}

.table-first-col-left tbody td:nth-child(1) {
  text-align: left;
}

.table-second-col-left tbody td:nth-child(2) {
  text-align: left;
}

.table-forth-col-left tbody td:nth-child(4) {
  text-align: left;
}

.table-no-sep > :not(:first-child) {
  border-top: none;
}

.table-external-border tbody tr:last-child td {
  border-bottom: none;
}

.table-fixed {
  table-layout: fixed;
}

.table tbody tr {
  transition: 0.15s background-color ease-in-out;
}

.table tbody tr:hover {
  background-color: #0000000a;
}

tr .tr-hover-visible {
  opacity: 0;
  transition: 0.15s opacity ease-in-out;
}

tr:hover .tr-hover-visible,
.tr-hover-visible:focus-within {
  opacity: 1;
}

.column-min {
  width: 0.1%;
}

.column-norm {
  width: auto;
}

.column-40px {
  width: 40px;
}

.column-80px {
  width: 80px;
}

.column-100px {
  width: 100px;
}

.column-160px {
  width: 160px;
}

.column-200px {
  width: 200px;
}
