.table {
  text-align: center;
}

.table thead {
  font-weight: 600;
}

.table td {
  white-space: nowrap;
}

.table-first-col-left tbody td:nth-child(1) {
  text-align: left;
}

.table-no-sep > :not(:first-child) {
  border-top: none;
}

.table-external-border tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr {
  transition: 0.15s background-color ease-in-out;
}

.table tbody tr:hover {
  background-color: #0000000a;
}

.column-min {
  width: 0.1%;
}

.column-norm {
  width: auto;
}

.column-200px {
  width: 200px;
}
