main table {
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0 0px #c5c8ce;
}

main table td {
  padding: 12px;
  white-space: nowrap;
}

main table thead {
  font-weight: bold;
}

main table tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.1s;
}

main table tbody tr:hover {
  background-color: #0000000a;
}

.table-width-auto {
  width: auto;
}

.column-min {
  width: 0.1%;
}

.column-norm {
  width: auto;
}

.column-200px {
  width: 200px;
}

.table-first-col-left tbody td:nth-child(1) {
  text-align: left;
}

.table-bordered {
  box-shadow: 0 0 0 1px #ddd;
}

.table-bordered td {
  border: 1px solid #ddd;
}

.table-bordered tr:first-child td:first-child {
  border-top-left-radius: 4px;
}

.table-bordered tr:first-child td:last-child {
  border-top-right-radius: 4px;
}

.table-bordered tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.table-bordered tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.table-input td {
  background-color: white;
  padding: 0;
}
